


<!-- <app-login></app-login> -->
<!-- <app-homepage></app-homepage>

'router 
<nav>
    <a class="button" routerLink="logout">Logout</a> |
    <a class="button" routerLink="profile">Profile</a>
</nav> ' -->
  <!-- <router-outllet></router-outllet> --> 


<!-- <a rotuerlink ="home">Home</a>
<a routerlink="profile">Profile</a>
<a routerlink="user">User</a>
<a routerlink="calculate">Calculate</a>
<a routerlink="logout">Logout</a> -->


<app-loginup></app-loginup>

<!-- 

<app-users></app-users> -->



<!-- List -->
<!-- <div class="container pt-5">

     <div><h1 class="text-center pt-1 text-secondary">Notes</h1></div>
      <div>
       <input type="text" placeholder="Enter the note" [(ngModel)]="inputdata"></div>
     <button (click)="pushData()" >Submit</button>
 
 </div>

 <app-child [notes]= "notesList"></app-child> -->

<!-- array
 <app-home></app-home> -->


<!-- 
<app-type></app-type> -->