<!-- <div>
  <input type="text" value ="filler" [(ngModel)]="uname">
  <p>{{uname}}</p>
</div>
<div>
  <img [src]="image">
</div>
<div>
  <button (click)="onClickMe()">Click me!</button>
  {{clickMessage}}
</div>
<app-register></app-register>
<router-outlet> </router-outlet> -->
<!-- <app-root></app-root> -->


<!-- <app-parent></app-parent> -->
<!-- <p>parent </p> -->
<!-- <app-child [loggedIn] ="userLoggedin"></app-child> -->
<!-- <app-child (greetEvent)="greet($event)"></app-child> -->


<!-- servciess

<app-cars></app-cars>
<app-cardetails></app-cardetails> -->




<!-- 
Notes

<app-parent-notes></app-parent-notes> -->





<!-- <app-home></app-home> -->
<app-type></app-type>


