<!-- <html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <base href="/"> -->
<div class="container pt-5">
    <div class="row justify-content-sm-center pt-5">
        <div class="col-sm-6 shadow round pb-3">

    <div><h1 class="text-center pt-3 text-primary">Login</h1></div> 
    <div>
    <label for="uname"><b>Username : </b></label>
      <input [username]="usernameis"  type="text" placeholder="Enter Username" name="uname" required>
    </div>
    
    <div>
    <label for="psw"><b>Password : </b></label>
      <input  [username]="passwordis"  type="password" placeholder="Enter Password" name="psw" required>
    </div>

    <button type="submit" (click)="submit();">Login</button>&nbsp;
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
  </div>
  </div>
<!-- </head>
</html> -->